

.meet {
    padding-bottom: 1rem;
}

.meet-title {
    margin-bottom: .5rem;
}

.meet-author {
    margin-top: 0;
    span {
        border-bottom: 0;
    }
}

.meet-date,
.meet-time-location {
    font-size: 16px;

    color: $grey;
}

.meet-info {
    @include break(not-small) {
        min-width: 14rem;
        padding-right: 4rem;

        text-align: right;
    }
}

.meet-github {
    img {
        width: 1.4rem;
        margin-top: -4px;
        margin-right: 1rem;
    }
}
