.cover {
    background-color: $main-colour;

    h1.title {
        color: $text-light;
    }
}

.title-comment {
    white-space: pre;
    color: $text-dark;
    @include opacity(0.5);

    @include break(small) {
        display: none;
    }
}
