$green: #06D6A0;
$red: #C50023;
$grey: grey;

$main-colour      : $green;
$secondary-colour : blue;
$accent-colour    : $red;
$text-dark        : #4A4A4A;
$text-light       : white;

$ultra-light: 200;
$light: 300;
$normal: 400;
$bold: 600;

$success-colour   : #83CC61;
$error-colour     : #DE4242;

$bradius          : 2px;

$header-height    : 3rem;
$footer-height    : 4rem;

$side-padding: 2rem;

$s-animation: 0.250s ease-in-out;
