@import 'normalize';
@import 'queries';
@import 'sass-css3-mixins';
@import './css/animate.min.css';
@import './css/tachyons.css';
@import 'fonts';
@import 'variables';
@import 'gridlex';
@import 'utils';

@import 'cover/cover';
@import 'copy/copy';
@import 'meets/meets';
@import 'members/members';
@import 'footer/footer';

/* Makes border-box properties */
// @include border-box-sizing;

* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: $sans;
    font-weight: $normal;

    overflow-x: hidden;

    color: $text-dark;
    /* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: $ultra-light;

    color: $text-dark;
}

h2 {
    font-weight: $light;

    color: $text-dark;
}

h2 {
    span {
        border-bottom: solid 2px $main-colour;
    }
}

p {
    font-size: 18px;
    line-height: 1.6;

    color: $text-dark;
}

a,
a:visited {
    transition: $s-animation;
    text-decoration: none;

    color: $accent-colour;
}

a:hover {
    transition: $s-animation;
    text-decoration: underline;

    color: $red;
}

a.under {
    text-decoration: under;
}

a.none,
a.none:hover {
    text-decoration: none;
}

.full {
    min-height: 100vh;
    margin: 0;
}

.page {
    width: 100%;
    margin: 0;
}

.app {
    overflow-x: hidden;
}

.main {
    width: 100%;
    min-height: 95vh;
    margin: 0;
    padding: 0;
}

.section {
    margin: 1rem 0;

    &:last-of-type {
        margin-bottom: 1rem;
    }
}
